@media (max-width: 1160px) {
    #up-arrow-1 { padding-right: 15px; }
}

@media (min-width: 400px) and (max-width: 1000px)  {
    .line {  width: 50%; margin: 10px auto; }
    .sidebar {
        position: -webkit-fixed;
        position: fixed;
        z-index: 3;
        height: 500px;
        box-shadow: 3px 3px 8px rgb(73, 22, 22);
    }
    .sidebar h2 { font-size: 20px }
    #navbar li { padding: 5px 0; }
    #navbar li a { font-size: 15px; padding: 3px 8px; letter-spacing: 0.2px; }
    #cross { margin-left: 145px; }

    .info { padding-right: 0px; height: 90vh; }
    .first-page { flex-direction: column; justify-content: center;}
    .intro { width: 70%; height: 250px; margin-left: 30px; padding-left: 10px; }
    
    .intro div { padding: 4px; }
    #hello { font-weight: bold; font-size: 3rem; }
    #name { font-size: 2.3rem; }
    #name b { font-size: 2.3rem; }
    #passion { font-size: 1.4rem; }
    .btn { height: 30px; font-size: 15px; }

    .bitmoji { margin-right: 0px; }
    .bitmoji img { height: 200px; }

    .box { width: 100%; height: 70%; }
    .box> h2 { font-size: 1.4rem; }

    #about div { margin: 22px 46px; }
    #self { font-size: 12px; width: 75%;}
    #more-about { font-size: 11px; margin: 20px 0; letter-spacing: 0.4px; width: 75%;}

    .skill-package {padding: 10px 15px; margin: 15px 0; width: 60%;}
    .skill-name { font-size: 12px; margin: 5px 0; letter-spacing: 0.7px;}
    .skill-value { margin-left: auto; font-size: 12px; letter-spacing: 0.7px;}

    .progress-bar { height: 15px; margin-top: 4px; }
    .progress-bar> div { height: 15px; }

    .project-container { grid-column-gap: 20px; }
    .project-box {width: 250px;}
    .project-box h3 {text-align: center}
    .project-box img { width: 200px;}

    .open-btn { font-size: 10px;}

    .project-info {width: 250px; padding: 10px;}
    .project-info img {width: 200px; margin: 6px 0 }
    .project-info h2 { font-size: 1.3rem; }
    .project-description { font-size: 12px; }
    .project-info h2, p, button {margin: 6px 0}
    .Modal {padding-top: 130px;}
    .Close {font-size: 12px}

    .achievement-box {width: 300px;}
    .achievement-box img {width: 250px;}
    .achievement-box li { font-size: 13px; margin-left: 20px; }

    #contact {margin-bottom: -40px;}
    #my-form { width: 330px; height: 370px;}
    #message { height: 80px; font-size: 10px; }
    .input-box { margin: 7px auto; height: 20px; font-size: 10px; }
    .contact-btn {height: 20px; width: 100px; font-size: 10px}

    #up-arrow-1 { display: none;}
    #up-arrow-2 {display: block; margin-top: 10px;}
    #up-arrow-2 a {font-size: 15px; margin: 25px 0;}

    #foot { height: 250px; }
    .social-media {width: 150px; height: 30px;}
    .icon { font-size: 15px; margin: 5px auto;}
    .foot-content { font-size: 12px; margin: 3px 0; }
}

@media (max-width: 560px) {
    .info { height: 87vh;}
    .intro { height: 80%; margin-left: 20px; padding-left: 10px; }
    
    #hello { font-weight: bold; font-size: 30px; }
    #name { font-size: 22px; }
    #name b { font-size: 22px; }
    #passion { font-size: 14px; }
    .btn { height: 28px; font-size: 10px; }

    #up-arrow-1 { display: none;}
    #up-arrow-2 {display: block; margin-top: 10px;}
    #up-arrow-2 a {font-size: 15px; margin: 25px 0;}

    .bitmoji { margin-right: 20px; }
    .bitmoji img { height: 180px; }
}

@media (max-width: 399px) {
    .line { width: 50%; margin: 10px auto; height: 1.4px; }
    .sidebar {
        position: -webkit-fixed;
        position: fixed;
        z-index: 3;
        height: 450px;
        box-shadow: 3px 3px 8px rgb(73, 22, 22);
    }
    .sidebar h2 { font-size: 20px }
    #navbar li { padding: 4px 0; }
    #navbar li a { font-size: 14px; padding: 3px 8px; letter-spacing: 0.2px; }
    #cross { margin-left: 140px; }

    .info { padding-right: 0px; height: 86vh;}
    .first-page { flex-direction: column; }
    .intro { height: 100%; margin-left: 20px; padding-left: 10px; }
    
    .intro div { padding: 2px; }
    #hello { font-weight: bold; font-size: 25px; }
    #name { font-size: 10px; }
    #name b { font-size: 14px; }
    #passion { font-size: 9px; }
    .btn { height: 24px; font-size: 8px; }

    .bitmoji { margin-right: 20px; }
    .bitmoji img { height: 140px; }

    .box { width: 100%; height: 70%; }
    .box> h2 { font-size: 1.4rem; }

    #about div { margin: 20px 30px;}
    #self { font-size: 10px; width: 75%;}
    #more-about { font-size: 11px; margin: 20px auto; letter-spacing: 0.4px; width: 75%; }

    .skill-package {padding: 6px 10px; margin: 10px 0;}
    .skill-name { font-size: 10px; margin: 3px 0; letter-spacing: 0.5px;}
    .skill-value { margin-left: auto; font-size: 10px; font-size: 10px; letter-spacing: 0.5px;}

    .progress-bar { height: 8px; margin-top: 3px; }
    .progress-bar> div { height: 8px; }

    .project-container { grid-column-gap: 20px; }
    .project-box {width: 230px;}
    .project-box h3 {text-align: center; font-size: 1.2rem;}
    .project-box> img { width: 180px;}

    .open-btn { font-size: 8px; margin: 5px 0; padding: 3px 15px;}

    .project-info {width: 250px; padding: 10px;}
    .project-info img {margin: 5px 0; width: 200px;}
    .project-info h2 { font-size: 1.2rem; }
    .project-description { font-size: 10px; }
    .project-info h2, p, button {margin: 5px 0}
    .Modal {padding-top: 100px;}
    .Close {font-size: 12px}

    .achievement-container {width: 100%;}
    .achievement-box {width: 220px;}
    .achievement-box img {width: 160px;}
    .achievement-box li { font-size: 9px; margin-left: 20px; }

    #contact { margin-bottom: -200px;}
    #my-form { width: 200px; height: 240px; padding: 15px 12px;}
    .input-head { font-size: 10px; margin: 5px 0}
    #message { height: 80px; font-size: 8px; margin-bottom: 5px; }
    .input-box { margin: 5px auto; height: 15px; font-size: 8px; }
    .contact-btn {height: 20px; width: 80px; font-size: 8px}

    #up-arrow-2 {margin-top: 5px;}
    #up-arrow-2 a {font-size: 11px; margin: 10px 0;}

    #foot { height: 200px; }
    .social-media {width: 150px; height: 30px;}
    .icon { font-size: 15px; margin: 5px auto;}
    .foot-content { font-size: 12px; margin: 3px 0; }
}

@media (max-width: 324px) {
    .sidebar {
        height: 400px;
        width: 150px;
    }
    .sidebar h2 { font-size: 13px }
    #navbar li { padding: 3px 0; }
    #navbar li a { font-size: 10px; padding: 2px 5px; letter-spacing: 0.1px; }
    #profile { margin-left: 30px; }
    #profile img { height: 60px;}
    
    #cross { margin-left: 125px; }

    .box> h2 { font-size: 1.1rem; }

    .project-container { display: flex; flex-direction: column; }
    .project-box {width: 160px;}
    .project-box h3 {text-align: center; font-size: 15px; margin: 5px 0;}
    .project-box> img { width: 130px;}

    .Modal {padding-top: 100px;}

    .open-btn { font-size: 7px; margin: 3px 0; padding: 3px 12px;}

    .project-info {width: 160px; padding: 10px; height: 240px}
    .project-info img {margin: 5px 0; width: 130px; }
    .project-info h2 { font-size: 15px; }
    .project-description { font-size: 10px; }
    .project-info h2, p, button {margin: 5px 0}
    .Modal {padding-top: 100px;}
    .Close {font-size: 12px}
}

@media  (max-width: 300px) {
    .achievement-box {width: 160px;}
    .achievement-box img {width: 130px;}
    .achievement-box li { font-size: 7px; margin-left: 14px; }
    
    .bitmoji { margin-right: 5px; }
    .bitmoji img { height: 130px; }
    .info { padding-right: 0px; height: 83vh;}

    .skill-box { margin: 7px 0;}
    .skill-name { font-size: 7px; margin-top: 7px; margin-bottom: 0; letter-spacing: 0.2px;}
    .skill-value { margin-left: auto; font-size: 7px; letter-spacing: 0.2px;}

    .progress-bar { height: 6px; margin-top: 3px; }
    .progress-bar> div { height: 6px; }

    #contact { margin-bottom: -250px;}
    #my-form { width: 160px; height: 180px; padding: 8px;}
    .input-head { font-size: 8px; margin: 3px 0}
    .input-box { margin: 3px auto; height: 12px; font-size: 6px; }
    #message { height: 100px; font-size: 6px; margin-bottom: 0px; }
    .contact-btn {height: 15px; width: 60px; font-size: 6px}

    #up-arrow-2 {margin-top: 2px;}
    #up-arrow-2 a {font-size: 10px; margin: 8px 0;}

    #foot { height: 180px; }
    .social-media { height: 20px;}
    .icon { font-size: 12px; margin: 3px auto;}
    .foot-content { font-size: 10px; margin: 2px 0; }
}

@media (max-width: 282px) {
    .Modal {padding-top: 50px;}
    i.fa-2xl { font-size: 25px;}
}